// Global

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(21, 21, 21);
    color: rgb(199, 199, 199);
    line-height: 1.6em;
}

p,
h2,
h3 {
    margin: 0;
}

hr {
    border: 1px solid rgb(65, 65, 65);
    margin: 1.5rem 0;
}

textarea,
input {
    font-size: 1rem;
    font-family: "Helvetica Neue", sans-serif;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    width: 90%;
    border-radius: 5px;
    padding: 0.7em;
    margin-bottom: 1rem;
    border: 1px solid grey;
}

.container {
    max-width: 100%;
    margin: auto;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #c7c7c7;
}

.form {
    width: 22rem;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    textarea,
    textarea:focus,
    input,
    input:focus {
        background-color: rgb(21, 21, 21);
        border-color: rgb(55, 55, 55);
        color: #fff;
    }
}

// Avoid footer raising from the bottom of the page

.home,
.contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

// Utility

// Margin

.m-auto {
    margin: auto;
}

.mt-4 {
    margin-top: 1rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-20 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

// Padding

.pt-12 {
    padding-top: 3rem;
}

.pb-4 {
    padding-bottom: 1rem;
}

.px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

// Width

.w-144 {
    width: 36rem;
}

// Height

.h-screen {
    height: 100vh;
}

// Miscellaneous

.text-center {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
