@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(21, 21, 21);
    color: rgb(199, 199, 199);
}

p {
    margin: 0;
}

.main-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.navbar {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0) !important;
}
  
.navbar-brand {
    color: rgb(198, 198, 198) !important;
}
  
footer {
    background-color: rgb(12, 12, 12);
}

.Workshop {
    border-top: 1px solid rgb(55, 55, 55);
}

.VideoSection .main-content {
    border-bottom: 1px solid rgb(55, 55, 55);
}

// .video-element {
//     width: 100vw;
//     height: 80vh;
//     background-size: cover;
//         background-position: center;
//         background-repeat: no-repeat;
// }

// .player-wrapper {
//     position: relative;
//     padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
// }
   
// .react-player {
//     position: absolute;
//     top: 0;
//     left: 0;
// }

// .wrap {
//     width: 70%;
//     margin: auto;
// }




.Choreography .navbar {
    position: static;  
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #C7C7C7;
    display: flex;
    align-items: center;
    justify-content: center;
    #form-modal, #feedback-modal{
        background: #202020;
        position: relative;
        padding: 2.5em;
        p {
            margin: 1em;
        }
    }
    #close-modal-icon {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

// use same as .modal-container?
.spinner-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #C7C7C7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    text-align: center; 
    textarea, 
    textarea:focus, 
    input, 
    input:focus {
        background-color: rgb(21, 21, 21);
        border-color: rgb(55, 55, 55);
        color: #FFF;
    }
}
// background input turns white when using autofill

#underline {
    border-bottom: 1px solid rgb(55, 55, 55);
    width: 60%;
    margin: 1em auto 0;
}

.Admin {
    section {
        padding: 1.8em 0 0;
        margin: 3em 0;
    }
    h2 {
        margin-bottom: 1em;
    }
    .admin-headline {
        padding: 4em 6em 2em;
        border-bottom: 1px solid rgb(55, 55, 55);
    }
    .preview {
        background-color: rgb(28, 28, 28);
        border: 2px solid rgb(160, 141, 0);
    }
    .published {
        border: 2px solid rgb(15, 109, 0);
    }
}

.form-control:focus {
    border-color: black;
    box-shadow: none;
}

@media screen and (max-width: 480px) {
    .form-group {
        margin-bottom: 7px; // between inputs
    }
    #form-modal {
        width: 100%;
        padding: 2.2em 0 !important;
        h2 {
            font-size: 1.5em;
        }
        h4 {
            font-size: 1em;
        }
    }
}
