@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(21, 21, 21);
    color: rgb(199, 199, 199);
}

p {
    margin: 0;
}

.main-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.navbar {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.3) !important;
}
  
.navbar-brand {
    color: rgb(198, 198, 198) !important;
}
  
footer {
    background-color: rgb(12, 12, 12);
}

.Workshop {
    border-top: 1px solid rgb(55, 55, 55);
}

.VideoSection .main-content {
    border-bottom: 1px solid rgb(55, 55, 55);
}
  
.Choreography .navbar {
    position: static;  
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #C7C7C7;
    display: flex;
    align-items: center;
    justify-content: center;
    #form-modal, #feedback-modal{
        background: #202020;
        position: relative;
        padding: 2.5em;
        p {
            margin: 1em;
        }
    }
    #close-modal-icon {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.ContactForm {
    // height: 50vh;
    text-align: center; 
    textarea, 
    textarea:focus, 
    input, 
    input:focus {
        background-color: rgb(21, 21, 21);
        border-color: rgb(55, 55, 55);
        color: #FFF;
    }
}
// background input turns white when using autofill

@media screen and (max-width: 445px) {
    .form-group {
        margin-bottom: 7px; // between inputs
    }
    #form-modal {
        width: 100%;
        padding: 2.2em 0 !important;
        h2 {
            font-size: 1.5em;
        }
        h4 {
            font-size: 1em;
        }
    } 
    p {
        margin: 0.7em;
    }
}
