.admin {
    max-width: 1000px;
    margin: auto;
    .navbar {
        position: static;
    }
    .main {
        margin: 0 1em;
        section {
            padding: 1.7em 1em;
            border: 2px solid rgb(101, 146, 3);
            border-radius: 5px;
        }
        #preview {
            margin: 1em 0;
            min-height: 450px;
        }
        h2 {
            margin-bottom: 1em;
        }
        .admin-button {
            min-width: 10em;
            margin: 5px;
        }
    }
}
