.Home {
  /* background: red; */
  /* min-height: calc(100vh - 66px); */
  /* min-height: 60vh; */
  background-image: url("./images/kenan1.jpg");
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.navbar {
    background: rgba(0, 0, 0 ,0) !important;
}